body {
    margin: 0;
}
.header-bar {
    display: flex;
    background-color: #1F2937;
    justify-content: flex-end;
    align-items: center;

}
a {
    color: white;
    margin-right: auto;
    list-style: none;
    margin-left: 1.5rem;
}
ul li {
    display: inline;
    list-style: none;
    margin: 1.5rem;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
.contact-section {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    align-items: center;
}
.question-box1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #1F2937;
    color: white;
    border: none;
    border-radius: 8px;
}
.text1 {
    display: flex;
    flex-direction: column;  
    padding-right: 5rem;
}
.text1 h3 {
    padding-top: 2rem;
    margin-bottom: 3px;
    margin-top: -1px;
}


